// // Helvetica Neue
// @font-face {
//     font-family: 'Helvetica Neue';
//     src: url('#{$font-url}/Roboto-Light.eot');
//     src: local('Roboto Light'), local('Roboto-Light'),
//         url('#{$font-url}/Roboto-Light.eot#iefix') format('embedded-opentype'),
//         url('#{$font-url}/Roboto-Light.woff2') format('woff2'),
//         url('#{$font-url}/Roboto-Light.woff') format('woff'),
//         url('#{$font-url}/Roboto-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Roboto';
//     src: url('#{$font-url}/Roboto-Regular.eot');
//     src: local('Roboto'), local('Roboto-Regular'),
//         url('#{$font-url}/Roboto-Regular.eot#iefix') format('embedded-opentype'),
//         url('#{$font-url}/Roboto-Regular.woff2') format('woff2'),
//         url('#{$font-url}/Roboto-Regular.woff') format('woff'),
//         url('#{$font-url}/Roboto-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Roboto';
//     src: url('#{$font-url}/Roboto-Medium.eot');
//     src: local('Roboto Medium'), local('Roboto-Medium'),
//         url('#{$font-url}/Roboto-Medium.eot#iefix') format('embedded-opentype'),
//         url('#{$font-url}/Roboto-Medium.woff2') format('woff2'),
//         url('#{$font-url}/Roboto-Medium.woff') format('woff'),
//         url('#{$font-url}/Roboto-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Roboto';
//     src: url('#{$font-url}/Roboto-Bold.eot');
//     src: local('Roboto Bold'), local('Roboto-Medium'),
//         url('#{$font-url}/Roboto-Bold.eot#iefix') format('embedded-opentype'),
//         url('#{$font-url}/Roboto-Bold.woff2') format('woff2'),
//         url('#{$font-url}/Roboto-Bold.woff') format('woff'),
//         url('#{$font-url}/Roboto-Bold.ttf') format('truetype');
//     font-weight: 700;
//     font-style: normal;
// }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueBlackItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueHeavyItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueItalic.ttf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueRoman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueThin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueThinItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/HelveticaNeueUltraLightItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
