{% extends 'emails/base.html' %}
{% load static %}

{% block content %}
<mj-section>
    <mj-column>
        <!-- Logo Image -->
        <mj-image width="150px" src="{{ LOGO_URL }}" alt="Company Logo" />

        <mj-text mj-class="content-title">
            Reset Your Password
        </mj-text>
        <mj-text mj-class="content-body">
            Click the button below to reset your password. This link will expire in 24 hours.
        </mj-text>
        <mj-button href="{{ reset_link }}">Reset Password</mj-button>
        <mj-text mj-class="content-body">
            If you didn’t request a password reset, you can safely ignore this email.
        </mj-text>
    </mj-column>
</mj-section>
{% endblock %}
